<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns    = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.barcode.app"
	version 	= "1.0.0">

	<name>BarcdAPP</name>

	<description>
        Scanner
	</description>

	<author href="http://www.didi.cr" email="info@didi.cr">
            TECMO S.A.
	</author>
		
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
        <gap:plugin name="Camera" value="org.apache.cordova.CameraLauncher" />

        <feature name="http://api.phonegap.com/1.0/device" />

        <preference name="phonegap-version" value="2.5.0" />
        <preference name="orientation"      value="default" />
        <preference name="target-device"    value="universal" />
        <preference name="fullscreen"       value="false" />
        <preference name="webviewbounce"    value="true" />

    	<icon src="./resources/scanner-barcode.png" width="36" height="36" />


</widget>
